.env
.venv
**/__pycache__
**/.env
**/.venv
worker/videos
worker/__pycache__
**/**/videos
node_modules
**/node_modules
**/worker/videos
**/backend/videos
**/frontend/videos
**frontend/node_modules
**backend/node_modules
**worker/videos